.front-heading {
    font-size: 3rem;
}

hr {
	margin-top: 0;
	margin-left: 25%;
	width: 50%;
}

.front {
    margin-top: 25vh;
    text-align: center;
}

.center {
	text-align: center;
}

.login-box {
    border-radius: 05px 50px;
    border: 2px solid black;
    padding-bottom: 15vh;
    padding-top: 10vh;
    margin-top: 10vh;
    text-align: center;
    background-color: grey;
    background-color: rgba(0, 0, 0, 0.03);
}

.client-owner {
	margin: 15px;
}

.page {
    margin-top: 5vh;
}

p strong {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin: 1vh;
}

.profile-info {
    padding-left: 2vh;
}

.clickable {
    cursor: pointer;
}

.tags {
    margin-left: 1vh;
}